*{
    font-family: helvetica, arial, sans-serif;
}

html {
    background-color: white;
}


#container {
    position: relative;
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 2% 5%;
}

header {
    background-color: white;
    margin-bottom: 20px;
}

header img{
    opacity: 1;
    display: block;
    width: calc(50% - 10px);
    height: auto;
}

header img:hover {
    opacity: 0.8;
}

#full {
    position: relative;
}

#full img {
    display: block;
    width: 100%;
    height: 100%;

}

#full img:hover {
    opacity: 0.7;
}

#list {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
}

.text {
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 20%;
    right: 20%;
    text-align: left;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-weight: light;
    font-size: 16px;
}
.textF {
    opacity: 0;
    position: absolute;
    top: 5%;
    left: 2.5%;
    right: 2.5%;
    text-align: left;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-weight: light;
    font-size: 16px;
}

.survol {
    position: relative;
}

.survol .figure {
	 background: #0c00e2;
}

.survol .figure img {
	 opacity: 1;
	  -webkit-transition: .3s ease-in-out;
	   transition: .3s ease-in-out;
}

.survol .figure:hover img {
	 opacity: .5;
}

.survol .figure:hover .text {
    transition: .5s ease;
    opacity: 1;
}
.survol .figure:hover .textF {
    transition: .5s ease;
    opacity: 1;
}

.survol canvas{
    position: absolute;
    bottom: -20px;
    opacity: 0.7;
}

.survol .info-text {
    opacity: 0;
    position: absolute;
    bottom: 9%;
    left: 10%;
    text-align: left;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

footer {
    position: relative;
    background-color: white;
    margin-top: 20px;
}

footer .social{
    display: inline-block;
    width: 50%;
    height: 50px;
}

footer img{
    opacity: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
}

footer img:hover {
    opacity: 0.8;
}

footer p{
    display: inline-block;
    color: #E2001A;
    font-weight: bold;
    font-size: 20px;
}

footer a{
  color: #E2001A;
  font-weight: bold;
  font-size: 20px;
}

.textF a{
  color: white;
  font-weight: bold;
}
